<h2>People List</h2>

<button (click)="loadPeople()" [disabled]="loading">
  {{ loading ? "Loading..." : "Reload" }}
</button>

<p *ngIf="error" style="color: crimson">{{ error }}</p>

<div *ngFor="let p of people" style="border:1px solid #ddd; padding:12px; margin:12px 0; border-radius:8px;">
  <img [src]="p.picture_url" width="80" style="border-radius:8px;" />
  <p><b>Name:</b> {{ p.full_name }}</p>
  <p><b>Gender:</b> {{ p.gender }}</p>
  <p><b>Location:</b> {{ p.location }}</p>
  <p><b>Email:</b> {{ p.email }}</p>
  <p><b>Birth date:</b> {{ p.birth_date }}</p>
</div>
